- content_for(:notification_heading) do
  = "Notification: #{@notification.subject}"
  %button.window-rails.btn.btn-xs.btn-danger.pull-right{'window-rails-ajax' => :delete, 'window-rails-url' => admin_notification_path(@notification.id), 'window-rails-confirm' => "Destroy notification `#{@notification.subject}`?", 'window-rails-progress' => 'Destroying plan', 'window-rails-title' => 'Notification destruction'}
    %span.glyphicon.glyphicon-trash
  = link_to yield(:edit_icon), edit_admin_notification_path(@notification), :class => 'pull-right'
  .clearfix


:ruby
  id = 'display-notification'
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals => {
        :id => id,
        :heading => yield(:notification_heading),
        :panel_content => render(
          :partial => 'display',
          :locals => {
            :notification => @notification
          }
        )
      }
    )
  end

= render(:partial => 'layouts/container', :locals => {:container_class => "#{id}-container", :container_id => id})
