- content_for(:container) do
  - content_for(:heading) do
    %h1= 'Login'

  - content_for(:footer) do
    %small
      %i.fa.fa-lock
      != "A <a href='https://github.com/'>GitHub account</a> is required to use #{request.host}"

  - content_for(:panel) do
    / = simple_form_for @session, :url => authenticate_user_url, :for => 'session' do |f|
    /   = f.input :username, :input_html => {:name => 'username'}
    /   = f.input :password, :input_html => {:name => 'password'}
    /   = f.button :submit
    %a.button.btn.btn-lg.btn-default.auth{ href: '/auth/github' }
      %i.fa.fa-github-square
      = "sign in with GitHub"

  .row
    .col-xs-2.col-md-4
    .col-xs-8.col-md-4
      = render(:partial => 'layouts/panel', :locals => { :id => 'login', :heading => content_for(:heading), :footer => content_for(:footer) })
    .col-xs-2.col-md-4

= render(:partial => 'layouts/container')
