- content_for(:pagination_) do
  - if content_for?(pagination)
    %div.fission-pagination.well.well-sm= content_for(pagination)

- content_for(:panel) do
  = content_for(:pagination_)

  - header_data = ['Name', 'Source']
  - header_classes = ['col-md-3', 'col-md-9']
  - content_for(:table_body) do
    - accounts.each do |account|
      %tr.linked{ href: admin_account_path(account) }
        %td= account.name
        %td= account.source.name
  = render(:partial => 'layouts/table', :locals => { :header_data => header_data, :header_classes => header_classes  })

  = content_for(:pagination_)

- heading = defined?(title) ? title : nil
= render(:partial => 'layouts/panel', :locals => { :heading => heading })
