%div.panel.panel-default
  - if defined?(title)
    %div.panel-heading= title
  %div.panel-body
    - if content_for?(pagination)
      %div.fission-pagination.well.well-sm= content_for(pagination)
    %table.table.table-hover
      %thead
        %tr
          %th.col-md-3
            Name
          %th.col-md-9
            Source
      %tbody
        - accounts.each do |account|
          %tr.linked{ href: admin_account_path(account) }
            %td= account.name
            %td= account.source.name

    - if content_for?(pagination)
      %div.fission-pagination.well.well-sm= content_for(pagination)
