- heading = defined?(title) ? title : nil
- content_for(:table_header) do
  %tr
    %th.col-md-3
      Name
    %th.col-md-8
    %th.col-md-1

- content_for(:table_body) do
  - sources.each do |source|
    %tr
      %td= source.name
      %td
      %td
        %a{:href => admin_source_path(source)}
          %span.glyphicon.glyphicon-zoom-in
        %a{:href => edit_admin_source_path(source)}
          %span.glyphicon.glyphicon-cog

- content_for(:pagination_block) do
  - if content_for?(pagination)
    %div.fission-pagination.well.well-sm= content_for(pagination)

- content_for(:panel) do
  = content_for(:pagination_block)
  = render(:partial => 'layouts/table', :locals => { :header_content_name => :table_header })

= content_for(:pagination_block)

= render(:partial => 'layouts/panel', :locals => { :heading => heading })
