= bootstrap_form_tag form_opts.merge(:html => {:id => 'plan-form'}) do |f|
  = f.text_field :name, :value => @plan ? @plan.name : nil, :autofocus => true
  = f.text_field :summary, :value => @plan ? @plan.summary : nil
  = f.text_field :price, :value => @plan ? @plan.cost : nil, :prepend => '$', :append => '.00'
  = f.select :product_ids, @products.map{|g| [g.name, g.id]}, {:include_blank => true, :selected => @plan ? @plan.products.map(&:id) : []}, :multiple => true
  = f.text_area :description, :value => @plan ? @plan.description : nil
  = f.submit 'Save', :disable_with => 'Saving...', :class => 'btn btn-success pull-right'
